name: release

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  release:
    name: Release
    uses: entur/gha-meta/.github/workflows/release.yml@v1
    permissions:
      contents: write
      pull-requests: write
      issues: write
    with:
      release_type: manifest # use release-please-config.json and .release-please-manifest.json
      config_file: .github/release-please-config.json # default /release-please-config.json
      manifest_file: .github/release-please-manifest.json # default /.release-please-manifest.json

  release-debug:
    needs: release
    runs-on: ubuntu-24.04
    steps:
      - name: Output release-please manifest
        run: |
          echo '${{ toJson(needs) }}'

  helm-release:
    name: helm release
    runs-on: ubuntu-24.04
    needs: release
    permissions:
      contents: write
    steps:
      - name: Checkout source code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: ${{ github.ref }}
          fetch-depth: 0
      - name: Publish Helm charts
        uses: stefanprodan/helm-gh-pages@0ad2bb377311d61ac04ad9eb6f252fb68e207260 # v1.7.0
        with:
          index_dir: "."
          linting: "off"
          target_dir: "archive"
          token: ${{ secrets.GITHUB_TOKEN }}
