name: checks

on:
  pull_request:
    branches:
      - main
    types:
      - opened
      - synchronize
      - ready_for_review

jobs:
  verify-pr:
    name: Verify PR
    if: ${{ github.event_name == 'pull_request' }}
    uses: entur/gha-meta/.github/workflows/verify-pr.yml@v1

  unittest-common-chart:
    if: startsWith(github.head_ref, 'release-please--branches') == false
    uses: entur/gha-helm/.github/workflows/unittest.yml@v1
    with:
      chart: charts/common

  helm-install-test:
    if: startsWith(github.head_ref, 'release-please--branches') == false
    name: helm install
    runs-on: ubuntu-24.04
    needs: unittest-common-chart
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Set up Helm
        uses: azure/setup-helm@b9e51907a09c216f16ebe8536097933489208112 # v4.3.0

      - name: Create kind cluster
        uses: helm/kind-action@a1b0e391336a6ee6713a0583f8c6240d70863de3 # v1.12.0
        with:
          node_image: kindest/node:v1.32.3

      - name: Configure metrics and VPA
        run: |
          helm repo add metrics-server https://kubernetes-sigs.github.io/metrics-server/
          helm repo update
          helm install --set args={--kubelet-insecure-tls} metrics-server metrics-server/metrics-server --namespace kube-system
          helm repo add cowboysysop https://cowboysysop.github.io/charts/
          helm -n kube-system install vertical-pod-autoscaler cowboysysop/vertical-pod-autoscaler

      - name: Install helm chart
        run: |
          helm install --generate-name --dependency-update --wait --timeout 5m0s charts/common --values fixture/helm/ci/values-ci-tests.yaml
          helm install --generate-name --dependency-update --wait --timeout 5m0s charts/common --values fixture/helm/ci/values-ci-cronjob-tests.yaml

  validate-examples:
    if: startsWith(github.head_ref, 'release-please--branches') == false
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        example:
          [
            simple-app,
            typical-backend,
            typical-frontend,
            multi-container,
            multi-deploy,
          ]
        env: [dev, tst, prd]
    steps:
      - name: Check out the repo
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          ref: ${{ github.ref }}
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@b9e51907a09c216f16ebe8536097933489208112 # v4.3.0

      - name: Helm verify examples
        working-directory: examples/common/${{ matrix.example }}
        run: |
          helm template --dependency-update . -f env/values-kub-ent-${{ matrix.env }}.yaml
