name: checks

on:
  pull_request:
    branches:
      - main
      - "!release-please--branches--**"
    types: [opened, synchronize, reopened, ready_for_review] # all but draft

jobs:
  verify-pr:
    name: Verify PR
    uses: entur/gha-meta/.github/workflows/verify-pr.yml@v1

  unittest-common-chart:
    uses: entur/gha-helm/.github/workflows/unittest.yml@v1
    with:
      chart: charts/common

  helm-install-test:
    name: helm install
    runs-on: ubuntu-24.04
    needs: unittest-common-chart
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up Helm
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4.3.1

      - name: Create kind cluster
        uses: helm/kind-action@92086f6be054225fa813e0a4b13787fc9088faab # v1.13.0
        with:
          node_image: kindest/node:v1.32.3

      - name: Configure metrics and VPA
        run: |
          helm repo add metrics-server https://kubernetes-sigs.github.io/metrics-server/
          helm repo update
          helm install --set args={--kubelet-insecure-tls} metrics-server metrics-server/metrics-server --namespace kube-system
          helm repo add cowboysysop https://cowboysysop.github.io/charts/
          helm -n kube-system install vertical-pod-autoscaler cowboysysop/vertical-pod-autoscaler

      - name: Install helm chart
        run: |
          helm install --generate-name --dependency-update --wait --timeout 5m0s charts/common --values fixture/helm/ci/values-ci-tests.yaml
          helm install --generate-name --dependency-update --wait --timeout 5m0s charts/common --values fixture/helm/ci/values-ci-cronjob-tests.yaml

  validate-examples:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        example:
          [
            simple-app,
            typical-backend,
            typical-frontend,
            multi-container,
            multi-deploy,
          ]
        env: [dev, tst, prd]
    steps:
      - name: Check out the repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ github.ref }}
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4.3.1

      - name: Helm verify examples
        working-directory: examples/common/${{ matrix.example }}
        run: |
          helm template --dependency-update . -f env/values-kub-ent-${{ matrix.env }}.yaml
